<!DOCTYPE html>
<html lang="en" data-color-mode="dark" data-light-theme="light">
<head>
    <meta http-equiv="refresh" content="3; URL=https://github.com/ruberVulpes/GeniusClient"/>
    <style>
        body {
            padding: 10px 15px;
            font-family: verdana;
            text-align: center;
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
<h2>Thank You!</h2>
<p>Redirecting to the GitHub Page... click <a href="https://github.com/ruberVulpes/GeniusClient">here</a>.</p>
</body>
</html>